<!doctype html>
<html>
<head>
<style type="text/css">
.container{
   width: 750px;
    margin: 0px auto;
   
   height: 646px;
}
.wrapper{
    padding: 21px;
}
.logo{
    margin-left: 38px
}

#container2 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	    margin-bottom:23px;
	
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:50%;
	
}
#col1 {
	float:left;
	width:46%;
	position:relative;
	left:52%;
	overflow:hidden;
}
#col1 li{

    margin: 0 0 2px 0;
	font: bold 12px/19px Helvetica, Sans-Serif;
}
 h2{
font-size: 16px;
    margin-left: 37px;
    font-family: helvetica;
}
#col2 {
	float:left;
	width:46%;
	position:relative;
	left:56%;
	overflow:hidden;
	    top: -4px;
}
#col2 li
{
margin: 0 0 2px 0;
 font: bold 12px/19px Helvetica, Sans-Serif;
}
.amount{
font-size:13px;
color:#d9d9d9;
    padding:2px;
    width:100%;
clear:both;
list-style: none;margin-top: -6px;font-size: 13px;color: #d9d9d9;padding: 2px;
}
.left p{
clear:both;
}
.right p{
clear:both;
}
.right{
width: 40%;
    float: right;
    padding: 10px;
    color: #919191;
    font-weight: 600;
    font-family: helvetica;
    text-align: right;
}
.left{
width: 50%;
   float: left;
    padding: 10px;
    color: #919191;
    font-weight: 600;
    font-family: helvetica;
}
ul{
list-style:none;
    margin-top: -6px;
}
.box{
clear: both;
    width: 634px;
    margin: 0px auto;
    border: 1px solid #ededed;

}

.box1{
padding: 2px;
    font-weight: 700;
    font-size: 16px;
    padding-left: 13px;
    font-family: helvetica, Sans-Serif;
}
img{
position: relative;
    top: 3px;
}

.disclaimer{
margin-left: 11px;
   font: 12px/19px Helvetica, Sans-Serif;
   font-weight: 500;
   color:#9e9e9e;
   clear:both;
}
</style>
</head>
<body>
<div class="container" style="width: 750px;margin: 0px auto;height: 646px;">
<div class="wrapper" style="padding: 21px;">
 
<div id="container2" style="clear: left;float: left;width: 100%;overflow: hidden;margin-bottom: 23px;">
	<div id="container1" style="float: left;width: 100%;position: relative;right: 50%;">
		<div id="col1" style="float: left;width: 46%;position: relative;left: 52%;overflow: hidden;">
			<!-- Column one start -->
			<h2 style="font-size: 16px;margin-left: 37px;font-family: helvetica;">Payment Receipt</h2>
			<ul style="list-style: none;margin-top: -6px;">
				
				<li style="margin: 0 0 2px 0;font: bold 12px/19px Helvetica, Sans-Serif;">My ID : $myID</li>
				<li style="margin: 0 0 2px 0;font: bold 12px/19px Helvetica, Sans-Serif;">Name : $customerName</li>
				<li style="margin: 0 0 2px 0;font: bold 12px/19px Helvetica, Sans-Serif;">Date : $date</li>
				<li style="margin: 0 0 2px 0;font: bold 12px/19px Helvetica, Sans-Serif;">Contact : $contactNumber</li>
				<li style="margin: 0 0 2px 0;font: bold 12px/19px Helvetica, Sans-Serif;">Email : $email</li>
			</ul>
		</div>
		<div id="col2" style="float: left;width: 46%;position: relative;left: 56%;overflow: hidden;top: -4px;">
			<!-- Column two start -->
			<h2 style="font-size: 16px;margin-left: 37px;font-family: helvetica;">Cable Operator Details</h2>
			
			<ul style="list-style: none;margin-top: -6px;">
				<li style="margin: 0 0 2px 0;font: bold 12px/19px Helvetica, Sans-Serif;">$clientName</li>
				<li style="margin: 0 0 2px 0;font: bold 12px/19px Helvetica, Sans-Serif;">$clientAddressline1</li>
				<li style="margin: 0 0 2px 0;font: bold 12px/19px Helvetica, Sans-Serif;">$clientAddressline2</li>
				<li style="margin: 0 0 2px 0;font: bold 12px/19px Helvetica, Sans-Serif;">$clientAddressline3</li>	
				<li style="margin: 0 0 2px 0;font: bold 12px/19px Helvetica, Sans-Serif;">$clientAddressline4</li>
				
			</ul>
			
		</div>
	</div>
	</div>
	<div class="box" style="clear: both;width: 634px;margin: 0px auto;border: 1px solid #ededed;">
	<p class="box1" style="padding: 2px;font-weight: 700;font-size: 16px;padding-left: 13px;font-family: helvetica, Sans-Serif;">Payment of Rs.$paidAmount towards Cable TV Subscription, Transaction ID $referenceNumber. </p>
	
	<hr>
	<div class="amount" style="font-size: 13px;color: #d9d9d9;padding: 2px;width: 100%;clear: both;list-style: none;margin-top: -6px;">
    <div class="left" style="width: 50%;float: left;padding: 10px;color: #919191;font-weight: 600;font-family: helvetica;">
	<p style="clear: both;">Total Amount</p>
    <p style="clear: both;">Amount paid</p>
    </div>
	<div class="right" style="width: 40%;float: right;padding: 10px;color: #919191;font-weight: 600;font-family: helvetica;text-align: right;">
    <p style="clear: both;">$totaNeedToPay</p>
    <p style="clear: both;">$paidAmount</p>
    </div>
	</div>

<hr style="clear:both">
<p class="disclaimer" style="margin-left: 11px;font: 12px/19px Helvetica, Sans-Serif;font-weight: 500;color: #9e9e9e;clear: both;">In case of any issue with this transaction please feel free to contact support@mycable.in
or call us at 080-42101044, 9538440456 and 9538444414.</p>
<p class="disclaimer" style="margin-left: 11px;font: 12px/19px Helvetica, Sans-Serif;font-weight: 500;color: #9e9e9e;clear: both;"></p>

<br>
	</div>
</div>
</div>

</body>
</html>